.header-background-image {
  z-index: 0;
  width: 375px;
  height: 240px;
}

.cards-div {
  position: relative;
}

.card-back,
.card-front {
  width: 286px;
  height: 157px;
}

.card-front-div {
  z-index: 2;
  position: absolute;
  top: -126px;
  left: 15px;
}

.card-logo {
  z-index: 3;
  background-color: red;
  display: block;
  width: 54px;
  height: 30px;
  margin-left: 20px;
  margin-top: -150px;
}

.cc-number {
  color: white;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;
  margin-top: 40px;
  letter-spacing: 2px;
}

.date-info {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
  margin-left: 20px;
  margin-right: 25px;
}

.cc-name,
.cc-date {
  color: white;
  font-size: 9px;
}

.card-back-div {
  z-index: 1;
  position: absolute;
  top: -215px;
  left: 75px;
}

.cvc-code {
  z-index: 2;
  color: white;
  font-size: 9px;
  margin-left: 205px;
  letter-spacing: 1px;
  margin-top: -95px;
  margin-right: 5px;
}
